body {

  background: #F8EEE7;
  font-family: 'Permanent Marker', cursive;

  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1 {
  font-color: white;
  background: #96999e;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.fa-plus {
  float: right;
}

li {
  background: #fff;
  height: 70px;
  line-height: 70px;
  color: #666;
  text-align: center;
  font-size: 21px;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

li span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  width: 55%;
  margin-left: 22%;
  margin-top: 5%;
  background: white;
  box-shadow: 1px 1px 1px 1px grey;
}

.submit-button {
  float: right;
}

.completed {
  color: gray;
  text-decoration: line-through;
}


/*NAV HEADER TEXT*/

.navbar-brand {
  font-size: 270%;
  font-family: 'Permanent Marker', cursive;
  position: sticky;

}

#navbar-box {
   -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 6px 6px -6px #999;
    box-shadow: 0 6px 6px -6px #999;
}

/*SIDE BAR CSS BELOW:*/




#sidebar-wrapper {
 position: fixed;
  left: 0;
  top: 94px;
  width: 250px;
  background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #232323;
  height: calc(100vh - 92px);
  z-index: 1000;
  font-family: 'Permanent Marker', cursive;
  border: #ededed solid 1px;
}


.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}


.center-body {
  margin-top: 5%;
  text-align: center;
}

p {

  font-size: 160%;
  font-family: 'Permanent Marker', cursive;
  margin: 0 5%;

}

.sidebar-brand {
  background: #fff;
  height: 80px;
  line-height: 70px;
  color: #666;
  text-align: center;
  font-size: 28px;
}

/*#input-form {
  border-radius: 25px;
}*/

#content-wrapper {
  margin-left: 250px;
}

.form-row {
  position: absolute;
  right: 20px;
  top: 10px;
}

#sidebar-register{
  background: #fff;
  height: 80px;
  line-height: 70px;
  color: #666;
  text-align: center;
  font-size: 26px;
}

.sidebar-nav a:hover{
  color: green;
}

#register-form {
  font-size: 28px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}


.register-text {
  font-size: 28px;
  padding-top: 2%;
}

.form-controls{
display: block;
max-width: 50%;
}

.testest {
  max-width: 40%;
  margin-left: 30%;
  padding-top: 4%;
  padding-bottom: 2%;
  font-size: 26px;
}

.completed {
  text-align: center;
  width: 30%;
}

